.message-enter {
  opacity: 0.01;
}
.message-enter-active {
  opacity: 1;
  transition: all .3s ease-out;
}
.message-exit {
  opacity: 1;
}
.message-exit-active {
  opacity: 0.01;
  transition: all .3s ease-out;
}